* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12;
}

button {
    -webkit-box-shadow: none;     
    -webkit-box-shadow: none;   
    box-shadow: none;
    border: 1px solid #f2f2f2;
}

.clear {
    clear:both;
}

#header {
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 5px;
    padding-bottom: 10px;
}

#header #rightMenu {
    float: right;
    margin-right: 100px;
    margin-top: 10px;
}

#header #rightMenu li {
    float: left;
    margin-right: 10px;
    font-size: 15px;
}

#header .button {
    display: block;
    padding: 5px 10px;
    color: white;
    background-color: #336699;
    text-decoration: none;

}

#header .button:hover {
    text-decoration: underline;
}

#header #logo {
    float: left;
    font-size: 35px;
    margin-left: 150px;
    color: #336699;
    font-weight: bold;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background:#f1f1f1;
    /*margin-bottom: 50px;*/
}

#content {
    margin: 20px auto 0 auto;
    width: 1000px;
}

#bottomSearch {
    height: 100px;
}

#queryDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /*background-color: #f1f1f1;*/
    width: 100%;
    font-size: 18px;
}

#query {
    width: 700px;
    height: 38px;
    float: left;
    font-size: 20px;
}

#searchButton {
    display: block;
    padding:10px 25px;
    float: left;
    color: white;
    background-color: #336699;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
    -webkit-box-shadow: none;     
    -webkit-box-shadow: none;   
    box-shadow: none;
    border: 1px solid #f2f2f2;

}


#getMoreButton {
    display: block;
    padding: 10px 80px;;
    color: white;
    background-color: #336699;
    text-decoration: none;
    font-weight: bold;
    margin:0 auto;
}

#getMoreButton:disabled {
    background-color: #f8f8f8;
    color: #75759c;
}

#searchButton:disabled {
    background-color: #f8f8f8;
    color: #75759c;
}

#query:disabled {
    background-color: #f8f8f8;
    -webkit-box-shadow: none;     
    -webkit-box-shadow: none;   
    box-shadow: none;
    border: 1px solid #f2f2f2;
    color: #75759c;
    
}

#getMoreButton:hover {
    cursor: pointer;
}

#searchResults {
    width: 100%;
    margin-top: 40px;
    /*border:1px solid #ddd;*/
    border-collapse: collapse;
    border-spacing: 0;
}

#searchResults thead th {
    border-collapse: collapse;
    border:1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}

#searchResults tbody td {
    border-collapse: collapse;
    border:1px solid #ddd;
    border-left: 0px;
    border-right: 0px;
    font-size: 13px;
    height: 30px;
    vertical-align: middle;
}

.torrentLogo {
    width: 7%;
}

.torrentName {
    width: 71%;
    padding: 5px 20px;
}

#searchResults thead tr th {
    font-size: 13px;
    font-weight: bold;
}

.torrentName a:hover {
    text-decoration: underline;
}

.torrentName a {
    color: black;
    text-decoration: none;
}

.torrentSize {
    width: 12%;
    text-align: right;
    padding-right: 10px;
}

.torrentSeeds {
    width: 5%;
    text-align: center;
    color: green;
}

.torrentPeers {
    width: 5%;
    text-align: center;
    color: red;
}

#searchResults tr #torrentNameHeader {
    padding-left: 20px;
    padding-right: auto;
    width: 71%;
    text-align: left;
}

#torrentLogoHeader {
    width: 7%
}

#torrentSizeHeader {
    width: 12%;
}

#torrentSeedsHeader {
    width: 5%;
}

#torrentPeersHeader {
    width: 5%;
    
}

#getMore {
    margin-top: 20px;
    width: 1000px;
    height: 100px;
}


#ajaxLoaderImage {
    height: 150px;
    width: 150px;
    margin-left: 425px;
}

#loadingScreen #info {
    font-size: 20px;
    margin-left: 425px;
}