<html>
    <head>
        <title>Searcher</title>
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>