<div>
    <div id="queryDiv">
        <div id="queryDivInner">
            <form name="queryForm" ng-submit="submit(queryForm)"  >
                <input type="text" name="query" ng-model="query" id="query" />
                <input type="submit" id="searchButton" value="Search" />
            </form>
        </div>
        <div class="clear"></div>
    </div>
    <table id="searchResults" ng-hide="hideResultsTable">
        <thead>
            <tr>
                <th id="torrentLogoHeader">

                </th>
                <th id="torrentNameHeader">
                    Name <input type="text" ng-model="nameFilter.name" />
                </th>
                <th id="torrentSizeHeader">
                    Size
                </th>
                <th id="torrentSeedsHeader">
                    Seeds
                </th>
                <th id="torrentPeersHeader">
                    Peers
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="torrent in list | filter:nameFilter | orderBy : orderField : orderReverse">
                <td class="torrentLogo">
                    <img src="/bundles/appweb/images/provider/{{torrent.provider}}.gif" />
                </td>
                <td class="torrentName"><a href="{{torrent.link}}" target="_blank" >{{torrent.name}}</a></td>
                <td class="torrentSize">{{torrent.size}} MB</td>
                <td class="torrentSeeds">{{torrent.seeds}}</td>
                <td class="torrentPeers">{{torrent.peers}}</td>
            </tr>
        </tbody>
    </table>
    <div id="loadingScreen" ng-show="loadingImage" >
        <img id="ajaxLoaderImage" src="/bundles/appweb/images/ajax-loader.gif" /><br /><br />
        <span id="info">Loading results...</span>
    </div>
    <div id="getMore">
        <button id="getMoreButton" ng-click="getNextPage()" ng-disabled="disabled" ng-hide="hideResultsTable">Get more</button>
    </div>
    <div id="bottomSearch"></div>
</div>