<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^api app_dev.php [L]
    RewriteRule ^([nN]otification|[cC]hange|[aA]ctapp|[lL]ogs|[rR]eport|[gG]roup|[pP]latform|[dD]ropdowns|[tT]ech|[uU]ser|[aA]dmin) index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ static/app/index.html [L]
</IfModule>